/* this is a comment */

body { 
	font-family: Arial, Helvetica, sans-serif; 
	background-color: #300E07;
	color: #ffffff;
	}

h1 { 
	font-size: 300%;
	}

p { 
	font-size: 120%;
	line-height: 1.75;
	text-align: center;
	}
	
a {
	color: #5b7ef0;
	text-decoration: none;
	}

div {
	border-width: 1px;
	border-style: dashed;
	border-color: transparent;
	border-radius: 20px;
	}	
	
.right {
	float: right;}
	
img.snapshot {
	border-width: 10px;
	border-style: solid;
	border-color: #ffffff;
	box-shadow: 10px 10px 15px rgba(0,0,0,.3);
	margin: 10px 20px 40px 30px;
	-moz-transform: rotate(5deg);
	-webkit-transform: rotate(5deg):
	-o-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
}
	
	
#main {
	background-color:#3D2F38;
	padding: 30px;
	box-shadow: 10px 10px 15px rgba(0,0,0,.25);
	}
	
#contact {
	background-color:#5E3851;
	color: #0F0F0F;
	width: 50%;
	text-align: center;
	margin: auto;
	clear: both;
	box-shadow: 5px 5px 15px rgba(0,0,0,.25);}
	
#contact a {
	color: #0F0F0F;
	}
	
#contact a:hover {
	color: #9C0b40;}

#footer {
	text-align: center;
	font-size: 50%;
	padding: 15px;}
#everything {
	width: 80%;
	margin: auto;
	margin-top: 50px;}

#footer img {
	margin: 15px;}